/*=========================================================*/
/*===================- Шрифты -============================*/
/*=========================================================*/

/*PT_Sans*/
@font-face {
	font-family: PT_Sans; /* Имя шрифта */
	src: url(../fonts/PT_Sans.ttf); /* Путь к файлу со шрифтом */
}

/*PT_Sans_bold*/
@font-face {
	font-family: PT_Sans_bold; /* Имя шрифта */
	src: url(../fonts/PT_Sans_bold.ttf); /* Путь к файлу со шрифтом */
}

/*PT_Sans_BoldItalic*/
@font-face {
	font-family: PT_Sans_BoldItalic; /* Имя шрифта */
	src: url(../fonts/PT_Sans_BoldItalic.ttf); /* Путь к файлу со шрифтом */
}

/*PT_Sans_italic*/
@font-face {
	font-family: PT_Sans_italic; /* Имя шрифта */
	src: url(../fonts/PT_Sans_italic.ttf); /* Путь к файлу со шрифтом */
}