/*=========================================================*/
/*===================- Иконки -============================*/
/*=========================================================*/

/*===================- Main -============================*/
i[class*="ic-"] {
	display: inline-block;
	content: " ";
}


i[class*="ic-cat-"] {
	height: 55px;
	background: url(../img/sprite.png);
	/*outline: 1px solid red;*/
}

i.ic-cat-money {
	width: 55px;
	background-position: -4px -0px;
}

i.ic-cat-team {
	width: 55px;
	background-position: -77px -5px;
}

i.ic-cat-cal {
	width: 55px;
	background-position: -153px -5px;
}

i.ic-cat-hum {
	width: 55px;
	background-position: -223px -7px;
}
