/*=======================================================*/
/*===================- Main -============================*/
/*=======================================================*/

body {
	/*background: url(../img/grid.png);*/
}

.wrapper {
	font-size: 16px;
	overflow: hidden;
}

.img-resp {
	display: block;
	max-width: 100%;
	height: auto;
}

.clr {
	clear: both;
}

h1 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

h2 {
	font-size: 25px;
	text-transform: uppercase;
}

h3 {
	font-size: 16px;
	text-align: center;
	color: #929292;
	margin: 0;
	text-transform: uppercase;
}

h3:before,
h3:after {
	content: " ";
	display: inline-block;
	height: 1px;
	width: 100px;
	background: #929292;
	margin: 0 30px 4px;
}

.btn {
	text-transform: uppercase;
	background: #ecd513;
}

::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}
:-moz-placeholder           {color:#fff;}
:-ms-input-placeholder      {color:#fff;}

/*===================- HEADER -============================*/

header{
	padding: 25px 0;
	color: #000;
}

.navbar {
	background: #fff;
	border:none;
	margin-bottom: 0;
	text-transform: uppercase;
}

.navbar-toggle {
	border: 0px solid #fff;
}

.navbar-toggle:hover {
	background: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
}

.nav>li {
	padding: 15px 15px;
}

.nav>li>a {
	padding: 0;
}

.navbar-toggle .icon-bar {
	width: 40px;
	height: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #000;
}


/*===================- SECTION 1 -============================*/

.section1 {
	height: 565px;
	background: url(../img/sec1-bg.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.section1 h1 {
	margin: 120px 0 50px;
}

.sec1-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.input-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.input-wrap-top { 

}

.input-wrap-top input {
	background: rgba(255,255,255,.55);
	outline: none;
	border:none;
	font-size: 16px;
	padding: 20px;
	color: #fff;
	border-radius: 5px;
	margin-left: 20px;
}

.input-wrap-bot {
	color: #fff;
	margin-top: 25px;
	/*justify-content: flex-end;*/
	-ms-align-items: flex-end;
	align-items: flex-end;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.input-wrap-bot input {
	margin-right: 10px;
	position: relative;
	top: 5px;
	height: 20px;
	width: 20px;
}

/*input[type=checkbox] {
	background: red;
	border: 1px solid #fff;
}*/

.btn-sec1 {
	/*float: right;*/
	/*margin-top: 25px;*/
	padding: 20px 50px;
	color: #000;
}

/*===================- SECTION 2 -============================*/

.section2 {
	padding: 50px 0;
}

/*SLIDER:start*/

.slider {
	margin: 0 auto;
	position: relative;
}

.owl-carousel {
	/*overflow: hidden;*/
}

.slid-item {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.slid-img {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex: 3;
	-moz-flex: 3;
	-ms-flex: 3;
	-o-flex: 3;
	flex: 3;
}

.slid-item-desc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-webkit-flex: 2;
	-moz-flex: 2;
	-ms-flex: 2;
	-o-flex: 2;
	flex: 2;
}

.slide-offset {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}

.h2-slid-item-text {
	text-align: left;
	font-weight: bold;
}

.p-slid-item-lvl {
	color: #d3d3d3;
}

.slid-item-desc a {
	color: #929292;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: underline;
	margin-top: 15px;
}

.slide {
	position: absolute;
	top: calc(50% - 22px);
	z-index: 20;
	cursor: pointer;
}

.slide-left {
	left: 20px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.slide-right {
	right: 20px;
}

.glyphicon {
	color: #000;
	font-size: 22px;
}

/*SLIDER:end*/


/*===================- SECTION 3 -============================*/

.section3 {
	padding: 20px 0 290px;
	z-index: 100;
}

.category-item-wrapper {
	margin-top: 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	z-index: 6;
}

.cat-item-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin: 0 20px;
	z-index: 70;
}

.h2-cat {
	text-align: center;
}

.p-desc-cat {
	margin-top: 60px;
}

/*===================- FOOTER -============================*/

footer {
	padding: 35px 0;
	background: #000;
	color: #fff;
	position: relative;
	z-index: 50;
}

.foot-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.foot-flex-offset {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}

.foot-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-flex: 2;
	-moz-flex: 2;
	-ms-flex: 2;
	-o-flex: 2;
	flex: 2;
	z-index: 200;
}

.h2-foot {
	/*color: #fff;*/
}

.p-foot {
	margin-bottom: 0;
}

.a-foot {

}
.foot-bot {
	padding-top: 70px;
}

.foot-img {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex: 2;
	-moz-flex: 2;
	-ms-flex: 2;
	-o-flex: 2;
	flex: 2;
	z-index: 5;
}

.foot-img img {
	position: absolute;
	right: 0;
	top: -604px;
	
}

footer a {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #929292;
	text-decoration: underline;
}

footer a:hover {
	color: #929292;
}

.ul-foot {
	list-style-type: none;
	padding: 0;
	margin-bottom: 30px;
}

.ul-foot li {
	float: left;
	/*margin-right: 10px;*/
}

.ul-foot li:first-child:after {
	content: " / ";
	display: inline-block;
	margin: 0 10px;
}

.ul-foot li a {
	text-decoration: none;
	color: #fff;
}

