extends ../include/layout.pug

block title
	| My Website

block content
	section.section.section1
		.container
			.row
				h2.h2-green.w-100 Наши проекты
				.w-100
				.col-md-4
					.project-wrap
						h3.h3-project-title Проект №1
						.project-img
							img(src="assets/img/projects/1.jpg")
						p.p-project-desc Some Text
						p.p-project-iner_desc Подробнее
				.col-md-4
					.project-wrap
						h3.h3-project-title Проект №2
						.project-img
							img(src="assets/img/projects/2.jpg")
						p.p-project-desc Some Text
						p.p-project-iner_desc Подробнее
				.col-md-4
					.project-wrap
						h3.h3-project-title Проект №3
						.project-img
							img(src="assets/img/projects/3.jpg")
						p.p-project-desc Some Text
						p.p-project-iner_desc Подробнее