.container
	.row.w-100
		navbar.navbar-expand-lg.w-100
			a.navbar-brand(href="#") My Website
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
				span.navbar-toggler-icon

			.collapse.navbar-collapse#navbarSupportedContent
				ul.navbar-nav.ml-auto
					li.nav-item
						a.nav-link(href="#") Главная
					li.nav-item
						a.nav-link(href="#") Портфолио
					li.nav-item
						a.nav-link(href="#") Контакты
