meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
// Bootstrap CSS
link(href='css/bootstrap.min.css', rel='stylesheet')
// Icons
link(href='libs/ionicons.css', rel='stylesheet')
// My Styles
link(href='assets/css/bootstrap.min.css', rel='stylesheet')
link(href='assets/css/style.css', rel='stylesheet')
link(href='assets/css/media.css', rel='stylesheet')
link(href='assets/css/fonts.css', rel='stylesheet')
link(href='assets/css/icons.css', rel='stylesheet')
// Favicon
link(rel="icon" type="image/png" href="img/favicon.png")
link(rel="apple-touch-icon" href="img/favicon.png")
