/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.item1,	
	.item2,
	.item3,
	.item4,
	.item5 {
		padding: 5px;
		margin: 0;
		width: 40%;
		position: static;
		opacity: 1;
	}

	.gallery-item-wrap-1 {
		/*-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;*/
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.gallery-item-wrap-2,
	.gallery-item-wrap-3,
	.gallery-item-wrap-4,
	.gallery-item-wrap-5 {
		display: none;
	}
	.gallery {
		margin-bottom: 0;
	}
}

@media only screen and (max-width : 1050px) {
	.slide-head-left {
		left: 0;
	}

	.slide-head-right {
		right: 0;
	}

	.slide-sec3-left {
		left: 0%;
	}

	.slide-sec3-right {
		right: 0%;
	}

	.fir-head-right,
	.fir-foot-right {
		display: none;
	}
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	/*==- HEADER -==*/
	header {
		height: 850px;
	}

	.header-contact {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.glyphicon {
		font-size: 40px;
	}

	.img-ol {
	top: -20px;
}

	.fir-tree {
		width: 30%;
	}

	h1 {
		font-size: 50px;
	}

	.slid-item-text,
	.slid-item-text-sec3 {
		font-size: 40px;
	}

	.btn {
		padding: 10px;
	}


	

	/*==- SECTION3 -==*/
	.section3 {
		height: 900px;
	}

	.section3 h1 {
		margin: 200px 0 100px;
	}

	.slide-sec3-left {
		left: -2%;
	}

	.slide-sec3-right {
		right: -2%;
	}

	.btn-sec3 {
		width: 100px;
	}

	/*==- SECTION4 -==*/

	.section4 {
		padding-bottom: 150px;
	}

	.section4 h2 {
		margin: 70px 0 50px;
	}

	.p-form-title {
		font-size: 40px;
	}

	/*==- FOOTER -==*/
	.ul-foot li:first-child {
		margin: 80px 0 20px;
	}

	.foot-bot {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.ul-foot {
		padding-top: 0;
	}

	.foot-img {
		margin: 0 auto;
	}

	.foot-img a {
		margin-top: 20px;
		/*display: block;*/
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.benefits-wrap-hidden {
		display: block;
	}

	.need-hidden {
		display: none;
	}

	header {
		height: 550px;
	}
	.header-contact {
		font-size: 12px;
		/*height: 0px;*/
	}

	i.i-head-cont {
		/*opacity: 0;*/
	}

	/*.header-phone,
	.header-adress {
		margin-left: -50px;
	}
	.header-phone {
		margin-top: -20px;
		}*/

		.img-dobrunya {
			width: 50%;
		}

		.img-ol {
			/*top: 0;*/
		}

		.header-top  {
			padding: 0;
		}

		.header-top h2 {
			margin-top: 0px;
		}

		.header-contact {
			padding: 0;
		}


		/*===================- SECTION 1 -============================*/
		.section1 {
			padding-top: 50px;
		}
		.section1-top p {
			font-size: 15px;
		}
		.sec1-right {
			padding-top: 30px;
		}
		.sec1-right p,
		.sec1-right ul li {
			font-size: 15px;
		}

		h1 {
			font-size: 40px;
		}
		h2,
		span.h2-sec2 {
			font-size: 30px;
		}
		.form-wrap {
			height: 850px;
			margin-bottom: -200px;
		}

		.p-form-title {
			font-size: 40px;
			padding: 50px 0 0px;
		}

		.form {
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			justify-content: center;
			-ms-align-items: center;
			align-items: center;
		}

		.form-inner-wrap-top {
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			-ms-align-items: center;
			align-items: center;
			width: 100%;
		}

		.header-form{
			width: 100%;
			padding: 0 15px;
		}
		.form input{
			width: 100%;
		}

		.header-form input:nth-child(2){
			margin: 20px 0 0;
		}

		.header-form button{
			width: 100%;
			margin-top: 20px;
		}

		.form-inner-wrap {
			-webkit-flex-direction: column-reverse;
			-moz-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			-o-flex-direction: column-reverse;
			flex-direction: column-reverse;
		}

		.g-recaptcha {
			float: none;
			margin: 20px 0;
		}

		p.p-agree {
			margin-top: 20px;
		}

		.foot-ball {
			top: 40px;
		}
	}

	@media only screen and (max-width : 710px) {
		.section3 {
			height: 600px;
		}
		.section3 h1 {
			margin-bottom: 0;
			padding-bottom: 0;
		}

		.progr {
			display: none;
		}

		.slid-item-text-sec3 {
			margin-bottom: 10px;
		}
		
	}

	@media only screen and (max-width : 620px) {
		header {
			height: 450px;
		}
		.gallery-item-wrap-1 {
			-webkit-flex-wrap: nowrap;
			-moz-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			-o-flex-wrap: nowrap;
			flex-wrap: nowrap;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			-ms-align-items: center;
			align-items: center;
		}

		.item1,	
		.item2,
		.item3,
		.item4,
		.item5 {
			padding: 5px;
			margin: 0;
			width: 80%;
			position: static;
		}
	}

	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px) {
		.btn-sec3 {
			width: 100px;
		}

		.form-wrap {
			/*margin-bottom: -200px;*/
			height: 800px;
			padding: 0 10px;
		}

		p.p-form-title {
			font-size: 20px;
		}
		
		p.p-agree {
			padding: 0 20px;
		}

		.form-inner-wrap {
			/*width: 60%;*/
			/*padding: 0 20px !important;*/
		}
		.captcha-form {
			/*width: 80%;*/
			/*padding: 10px 40px;*/
		}
	}

	/* Custom, iPhone Retina */
	@media only screen and (max-width : 360px) {
		header {
			height: 350px;
		}

		.slid-item-text {
			font-size: 25px;
		}

		.slid-item-desc {
			font-size: 20px;
		}

		.btn {
			padding: 10px;
			font-size: 10px;
			/*font-size: 18px;*/
		}

		h1 {
			font-size: 25px;
		}

		.slide {
			display: none;
		}

		.fir-head-left {
			width: 35%;
		}

		.fir-foot-left {
			width: 40%;
		}

		/*===================- SECTION 2 -============================*/
		.section2 {
			padding-top: 65px;
		}

		span.h2-sec2 {
			font-size: 25px;
			margin-bottom: 60px;
		}

		.benefit-item p {
			margin: 40px 0 60px;
		}
		
		.section3 {
			height: 350px;
		}

		.section3 h1 {
			margin-top: 0;
		}

		.item1,	
		.item2,
		.item3,
		.item4,
		.item5 {
			width: 90%;
			margin-bottom: 20px;
			position: static;
		}

		.item1,
		.item3 {
			margin-left: 25px;
		}

		.item7,
		.item6 {

		}


		
		.item8,
		.item7,
		.item9 {
			display: none;
		}



		.down-else {
			display: block;
		}

		.ul-foot {
			padding-top: 0px;
			font-size: 15px;
		}

		.ul-foot li:first-child {
			margin-bottom: 10px;
		}

		.foot-img {
			width: 70%;
			/*margin: 80px auto 0;*/
		}
		.btn-sec3 {
			width: 75px;
		}
	}


	/*==========  Mobile First Method  ==========*/

	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px) {

	}

	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px) {

	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {

	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {

	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {

	}