/*=========================================================*/
/*===================- Иконки -============================*/
/*=========================================================*/

/*===================- Main -============================*/
i[class*="ic-"] {
	display: inline-block;
	content: " ";
}

i[class*="i-head-cont"]{
	background: url(../img/header-cont.png);
	/*outline: 1px solid red;*/
}

i.ic-head-flag {
	background-position: -10px -13px;
	height: 26px;
	width: 26px;
}

i.ic-head-phone {
	background-position: -47px -13px;
	height: 28px;
	width: 26px;
}


i[class*="ic-ben-"] {
	height: 90px;
	background: url(../img/benefit.png);
	/*outline: 1px solid red;*/
	margin-bottom: 60px;
}

i.ic-ben-flag {
	background-position: -5px -0px;
	width: 78px;
}

i.ic-ben-clown {
	background-position: -81px -0px;
	width: 79px;
	/*outline: 1px solid red;*/
}

i.ic-ben-ballon {
	background-position: -157px -0px;
	width: 80px;
}

i.ic-ben-candy {
	background-position: -235px -0px;
	width: 80px;
}

i.ic-ben-bubl {
	background-position: 10px -90px;
	width: 80px;
	/*outline: 1px solid red;*/
}

i.ic-ben-party {
	background-position: -75px -100px;
	width: 80px;
}

i.ic-ben-car {
	background-position: -165px -90px;
	width: 80px;

	/*outline: 1px solid red;*/
}

i.ic-ben-mikr {
	background-position: -250px -90px;
	width: 80px;
}

