/*=======================================================*/
/*===================- Main -============================*/
/*=======================================================*/

body {
	/*background: url(../img/grid.png);*/
}

.wrapper {
	font-family: 'HelveticaRegular';
}

.img-resp {
	display: block;
	max-width: 100%;
	height: auto;
}

.clr {
	clear: both;
}

h1,
h2,
h3 {
	color: #1f0953;
	font-family: 'AABebasNeue';
	text-align: center;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 45px;
}

h3 {
	font-size: 25px;
}

.btn {
	background: #f4e322;
	color: #000;
	padding: 27px 35px;
	font-size: 15px;
	font-family: 'AABebasNeue';
}

/*===================- HEADER -============================*/

header {
	background: url(../img/header-bg.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 850px;
}

.header-contact {
	color: #1f0953;
	font-size: 25px;
	padding: 15px 0 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-bottom: 220px;
}

.header-adress {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-right: 100px;
}

.header-adress p {
	
}

.header-phone {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header-phone a {
	text-decoration: none;
	color: #1f0953;
}


.h1-head {
	text-align: right;
	margin-right: 100px;
}

.btn-head {
	float: right;
	margin: 50px 100px 0 0;
}



/*===================- SECTION 1 -============================*/

.section1 {
	padding-top: 170px;
}

.h3-sec1 {
	text-align: left;
}

.p-sec1 {
	margin-top: 95px;
	font-size: 20px;
}

.p-sec1 span {
	/*display: block;*/
	padding: 6px;
	background: #f8085d;
	border-radius: 50%;
	color: #fff;
	/*font-weight: bold;*/
	font-size: 30px;
	font-family: 'AABebasNeue';
}

/*===================- SECTION 2 -============================*/

.section2 {
	padding: 0 0px 130px;
}

.section2 .row{
	padding: 0;
}

.h2-sec2 {
	margin-bottom: 20px;
}

.p-sec2 {
	text-align: center;
	margin-bottom: 100px;
	font-size: 20px;
}

.slider {
	margin: 0 auto;
	position: relative;
}

.owl-carousel .owl-item {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.9;
	-webkit-transition: opacity 0.15s ease-in-out, -webkit-transform 0.5s ease-in-out;
	transition: opacity 0.15s ease-in-out, -webkit-transform 0.5s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out, transform 0.5s ease-in-out;
	transition: opacity 0.15s ease-in-out, transform 0.5s ease-in-out;
	transition: opacity 0.15s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;

}

.owl-carousel .owl-item.active.center {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.owl-carousel .owl-item img {
	/*height: 390px;*/
}

.slide {
	position: absolute;
	top: calc(50% - 50px);
	z-index: 20;
	/*opacity: 0.5;*/
	border: 5px solid #f422b1;
	border-radius: 50px;
	padding: 20px;
	cursor: pointer;
}

.slide-left {
	left: 15%;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.slide-right {
	right: 15%;
}

.glyphicon {
	color: #f422b1;
	font-size: 30px;
}

/*===================- SECTION 3 -============================*/

.section3 {
	background: url(../img/sec3-bg.png);
	padding: 100px 0 200px;
}

.benefit-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 100px;
}

.benefit-wrap-right {
}

.benefit-wrap-right .benefit-item {
	margin-left: 100px;
}

.benefit-wrap-left .benefit-item {
	margin-right: 100px;
}

.benefit-offset {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}

.benefit-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex: 5;
	-moz-flex: 5;
	-ms-flex: 5;
	-o-flex: 5;
	flex: 5;
}
/*
.benefit-item i:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}*/

@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -20px;
    right: -25px;
    bottom: -20px;
    left: -25px;
    border: rgba(10,247,132,1) solid 2px;
    opacity: 1;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -20px;
    right: -25px;
    bottom: -20px;
    left: -25px;
    border: rgba(10,247,132,1) solid 2px;
    opacity: 1;
  }
}
.benefit-item i {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;

}

.benefit-item i:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.benefit-item i:hover:before, .benefit-item i:focus:before, .benefit-item i:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;

}

.p-ben-desc {
	text-align: center;
}

.p-ben-desc a {
	padding-top: 20px;
	color: #919191;
	display: block;
}

/*===================- SECTION 4 -============================*/

.section4 {
	height: 600px;
	background-image: url(../img/bg-form.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 0 -50px;
	width: 100%;
	/*position: relative;*/
	z-index: 10;
}

.h1-sec4 {
	color: #fff;
	padding: 60px 0 10px;
	z-index: 150;
	position: relative;
}

.header-form{
	/*width: 729px;*/
	margin: 0 auto 0;
}

.form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}

.form-offset {}

.header-form input{
	padding-left: 15px;
	color: #fff;
	width: 260px;
	height: 50px;
	cursor: text;
	border: none;
	/*border-radius: 25px;*/
	background-color: rgba(255, 255, 255, .55);
	outline: none;
	transition: all .27s;
}

.header-form input:focus{
	background-color: rgba(255, 255, 255, .7);
}

.header-form input:nth-child(2){
	margin-right: 15px;
	margin-left: 15px;
}

.btn-form {
	/*float: right;*/
	padding: 20px 55px;
	/*margin-left: 200px;*/
	transition: all .27s;
	position: relative;
	bottom: 5px;
}

.header-form button:hover{
	opacity: .9;
}

button[disabled] {
	-webkit-filter: grayscale(80%);
	-o-filter: grayscale(80%);
	filter: grayscale(80%);
	cursor: default;
}

.modal-form .agree {
	width: 20px;
	height: 20px;
	position: relative;
	top: 5px;
	margin-left: 30px;
}

#inp-agree {
	width: 20px;
	height: 20px;
	position: relative;
	top: 5px;
	margin-left: 30px;
	cursor: pointer;
}

p.p-agree {
	display: block;
	margin: 70px auto 0;
	color: #fff;
}

p.agr-form {
	display: block;
	float: left;
}

.form-inner-wrap-top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.form-inner-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.g-recaptcha {
	margin: 50px 20px 0 0;
	/*float: left;*/
}

/*===================- FOOTER -============================*/

footer {
	padding: 0px 0 40px;
	background: #f0f0f0;
	text-align: left;
	position: relative;
	margin-top: -50px;
}

.foot-bot {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.foot-adress {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.ul-foot {
	padding-top: 22px;
	font-size: 20px;
	list-style-type: none;
}

.ul-foot li{
	margin-bottom: 20px;
}

.ul-foot li a {
	color: #000;
}

.foot-img {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.foot-img img {

}

.foot-img a {
	text-decoration: underline;
	color: #220e58;
	font-size: 15px;
}

.foot-ball {
	text-align: center;
	position: relative;
	/*top: */
	z-index: 120;
}

.a-ball {
	text-transform: uppercase;
	color: #0af484;
	font-size: 15px;
	font-family: 'AABebasNeue';
	width: 50px;
}
i.ic-ball {
	display: block;
	background: url(../img/balloon.png);
	width: 48px;
	height: 102px;
	position: relative;
	/*top: -70px;*/
	left: 40px;
	margin: -70px 0 30px;
}

/*===================- MODAL -============================*/

#myModal {
	background: rgba(255,255,255,0);
}

.modal-dialog {
	margin: 0 auto;
	/*width: 664px;*/
	/*top: 10%;*/
	
}

.modal-content {
	background: #68aabd;
	color: #fff;
	border-radius: 0px;
}

.modal-header {
	text-align: center;
	border: none;
	font-family: 'AABebasNeue';
}

.modal-header h4 {
	font-size: 40px;
}

.modal-footer {
	border: none;
}

.my-form form {
	/*outline: 1px solid red;*/
}

.modal-form input {
	width: 100%;
	margin: 10px auto;
	height: 40px;
	font-size: 20px;
	border-radius: 5px;
	padding: 30px 20px;
	color: #000;
	font-size: 15px;
}

.form-p-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.form-p {
	font-size: 15px;
	margin: 60px auto 45px;
	text-align: center;
	padding: 0 40px;
}

.modal-form button {
	background: #f4e322;
	color: #000;
	margin: 0 auto;
	padding: 27px 35px;
	font-size: 15px;
	font-family: 'AABebasNeue';
	text-align: center;
	display: block;
	/*position: relative;
	left: 40%;*/
}

.close {
	font-size: 50px;
}

