html, body{
	height: 100%;
}

body{
	font-family: "Futura", sans-serif;
	font-size: 16px;
	min-width: 320px;
	padding: 0;
	margin: 0;
	color: #1b1b1b;
}

p, h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}

*:not(a){
	cursor: default;
}

::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}
:-moz-placeholder           {color:#fff;}
:-ms-input-placeholder      {color:#fff;}

h2{
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 60px;
	color: #1f0953;
}

h2>span{
	display: block;
	width: 70px;
	height: 5px;
	background-color: #000;
	margin: 50px auto 50px;
}

.col-xs-five,
.col-sm-five,
.col-md-five,
.col-lg-five {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-five {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-five {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-five {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-five {
		width: 20%;
		float: left;
	}
}

/*=========================HEADER=========================*/

header{
	background-image: url(img/header-img.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 700px;
	width: 100%;
}

header .row{
	margin-left: 50px;
	margin-right: 50px;
}

.header-contact {
	color: #fff;
	font-size: 25px;
	padding: 30px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}

.header-adress {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-right: 100px;
}

.header-adress p {
	
}

.header-phone {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header-phone a {
	text-decoration: none;
	color: #fff;
}

i[class*="ic-"] {
	content: " ";
	display: inline-block;
	background: url(img/sprite.png) no-repeat;
}

i[class*="ic-head"] {
	/*margin-right: 14px;*/
	/*outline: 1px solid red;*/
}

i.ic-head-flag {
	background-position: -5px -5px;
	height: 26px;
	width: 26px;
}

i.ic-head-phone {
	background-position: -43px -5px;
	height: 28px;
	width: 26px;
}

.header-top {
	padding-top: 73px;
}

.header-caption h1{
	color: #fff;
	text-transform: uppercase;
	font-size: 35px;
	margin-top: -30px;
	text-align: center;
}

.header-caption p{
	color: #fff;
	font-family: "HelveticaLight", sans-serif;
	margin-top: 10px;
	width: 90%;
	text-align: center;
}

.header-caption{
	margin-top: 100px;
}




/*=========================HEADER=========================*/

.sect_1 {
	background: url(img/blocker/bl-bg.png);
	padding-bottom: 200px;
	/*margin-top: 100px;*/
	z-index: 110;
	position: relative;
	/*bottom: -490px;*/
}

.bg-white {
	height: 500px;
	width: 100%;
	z-index: 120;
	position: absolute;
	bottom: 0;

	background: -moz-radial-gradient(at top, #FEFFFF, transparent);
	background: -webkit-radial-gradient(at top, #FEFFFF, transparent);
	background: -o-radial-gradient(at top, #FEFFFF, transparent);
	background: -ms-radial-gradient(at top, #FEFFFF, transparent);
	background: radial-gradient(at top, #FEFFFF, transparent);

	background: -moz-linear-gradient(to bottom, rgba(255,255,255,.75), transparent);
	background: -webkit-linear-gradient(to bottom, rgba(255,255,255,.75), transparent);
	background: -o-linear-gradient(to bottom, rgba(255,255,255,.75), transparent);
	background: -ms-linear-gradient(to bottom, rgba(255,255,255,.75), transparent);
	background: linear-gradient(to bottom, rgba(255,255,255,.75), transparent);

}

.sect_1 .row{
	margin-left: 50px;
	margin-right: 50px;
}

.blocker{
	width: 100%;
	border: 1px solid transparent;
	height: auto;
	background-color: #fff;
	margin-top: -100px;
	color: #000;

	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.3);
}



#toggleblockprice{
	width: 100%;
	background-color: #fbcf1d;
	
}

#togglechevron{
	font-size: 50px;
	display: block;
	background-color: transparent;
	border: 1px solid transparent;
	cursor: pointer;
	margin: 30px auto 0;
	outline: none;
}

#togglechevron i{
	cursor: pointer;
}



.whyicons-wrap{
	margin-top: 40px;
}

.whyicons-item{
	text-transform: uppercase;
	text-align: center;	
	cursor: pointer;
	transition: all 0.33s ease;
}

.whyicons-item span, .whyicons-item p{
	cursor: pointer;
}

.whyicon{
	background-repeat: no-repeat;
	display: inline-block;
	margin-bottom: 40px;
}

.whyicons-wrap #wicon1{
	background-image: url(img/whyicons/1.png);
	width: 53px;
	height: 61px;
}

.whyicons-wrap #wicon2{
	background-image: url(img/whyicons/2.png);
	width: 50px;
	height: 60px;
}

.whyicons-wrap #wicon3{
	background-image: url(img/whyicons/3.png);
	width: 55px;
	height: 55px;
}

.whyicons-wrap #wicon4{
	background-image: url(img/whyicons/4.png);
	width: 55px;
	height: 55px;
}

.whyicons-wrap #wicon5{
	background-image: url(img/whyicons/5.png);
	width: 55px;
	height: 49px;
}

.whyicons-item:hover #wicon1,
.col-sm-five.active #wicon1{
	background-image: url(img/whyicons/6.png);	
	transition: all 0.33s ease;
}

.whyicons-item:hover #wicon2,
.col-sm-five.active #wicon2{
	background-image: url(img/whyicons/7.png);	
	transition: all 0.33s ease;
}

.whyicons-item:hover #wicon3,
.col-sm-five.active #wicon3{
	background-image: url(img/whyicons/8.png);	
	transition: all 0.33s ease;
}

.whyicons-item:hover #wicon4,
.col-sm-five.active #wicon4{
	background-image: url(img/whyicons/9.png);	
	transition: all 0.33s ease;
}

.whyicons-item:hover #wicon5,
.col-sm-five.active #wicon5{
	background-image: url(img/whyicons/10.png);	
	transition: all 0.33s ease;
}


.whyicons-item:hover{
	color: #7bced4;
}

.whyicon-text{	
	margin-top: 90px;
	font-family: "HelveticaLight", sans-serif;
	color: #909090;
	text-align: center;
}

.whyicon-text-wrap .whyicon-text:not(:first-child){
	display: none;
}

.col-sm-five.active{
	color: #7bced4;
}

.whyprice button{
	cursor: pointer;
	background-color: #FBCF1D;
	display: inline-block;	
	color: #1b1b1b;
	border: 0px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 23px;
	outline:none;
	margin: 0;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	position: relative;
	top: 1px;

	/*-webkit-box-shadow: 3px 6px 46px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 6px 46px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 6px 46px 0px rgba(0,0,0,0.75);*/
}

.whyprice button:hover,
.whyprice button:active{
	text-decoration: none;
	outline:none;
}

.whyprice{	
	width: 89px;
	margin: 80px auto 0;
	/*outline: 1px solid red;*/
}


/*=========================SECTION 2=========================*/


.p0{
	padding: 0;
}

.sect_2 {
	padding: 60px 0 200px;
	/*outline: 1px solid red;*/
	/*margin-bottom: -350px;*/
}

.sect_2 h2 {
	margin-top: 0;
}

.benefit-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.benefit-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	position: relative;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	animation: top 3s linear 0s infinite;
}

@-webkit-keyframes top {
	0% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
}

@keyframes top {
	0% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
}

.img-benef {
	width: 100%;
	height: auto;
}

p.p-benef-desc {
	font-family: 'AABebasNeue';
	font-size: 30px;
	color: #42306c;
	text-transform: uppercase;
}

.ben-but {
	padding-top: 200px;
}

/*=========================SECTION 3=========================*/

.clr {
	clear: both;
}

.bgpink{
	/*margin-top: 200px;*/
	width: 100%;
	height: 700px;
}

.sect_3{
	padding: 140px 0 100px;
	background: url(img/section3/sec3-bg.png);
}

.sect_3 .row{
	margin-left: 50px;
	margin-right: 50px;
	/*margin-bottom: -300px;*/
}


.blocker2{
	width: 100%;
	border: 1px solid transparent;
	/*height: 1210px;*/
	background-color: #fff;
	margin-top: -460px;
	color: #000;
	padding-bottom: 100px;

	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.3);
}

.blocker2-adr {
	font-size: 30px;
	color: #1f0953;
	text-transform: uppercase;
	font-weight: bold;
}

.sect_3 p{
	width: 650px;
	margin: 50px auto 70px;
	text-align: center;	
	font-family: "HelveticaLight", sans-serif;
}

/*========*/

.slider {
	margin: 0 auto;
	padding: 0 50px;
	position: relative;
}

.owl-carousel {
	/*overflow: hidden;*/
}

.slid-item {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.slid-img {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex: 1;
	width: 50%;
}

.owl-carousel .owl-item img {
	width: 60%;
	height: auto;
}

.owl-nav {
	position: absolute;
	top: calc(50% - 36px);
	left: 0;
	right: 0;
	color: #ccc;
}
.owl-prev {
	/*outline: 1px solid red;*/
	float: left;
	border: 10px solid transparent;	
	border-left: 10px solid #000; 
	border-top: 10px solid #000;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: relative;
	left: 2%;
	/*opacity: .8;*/
}

.owl-next {
	float: right;
	position: relative;
	right: 2%;
	border: 10px solid transparent;	
	border-right: 10px solid #000;
	border-bottom: 10px solid #000;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


/*=========*/

.blocker2-adr p {
	width: 750px;
	margin: 0 auto;
	text-align: center;
}

.aboutimg{
	background-image: url(img/sect3.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 0 0;
	width: 100%;
	height: 440px;
}

.sect_3 p span{
	font-weight: bold;
	display: block;
	margin-top: 30px;
}

.form{
	height: 500px;
	background-image: url(img/bg-form.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 0 -50px;
	width: 100%;
	/*position: relative;*/
	z-index: 10;
}

.form h1 {
	font-size: 35px;
}

.form h2{
	text-align: center;
	color: #fff;
	font-family: "ProximaNova-Bold", sans-serif;
	font-size: 33px;
	text-transform: uppercase;
	width: 667px;
	margin: 0 auto 20px;
	padding-top: 70px;
	z-index: 150;
}

.header-form{
	width: 729px;
	margin: 0 auto 0;


}

.header-form input{
	padding-left: 15px;
	color: #fff;
	width: 260px;
	height: 50px;
	cursor: text;
	border: none;
	/*border-radius: 25px;*/
	background-color: rgba(255, 255, 255, .55);
	outline: none;
	transition: all .27s;
}

.header-form input:focus{
	background-color: rgba(255, 255, 255, .7);
}

.header-form input:nth-child(2){
	margin-right: 15px;
	margin-left: 15px;
}

.header-form button{
	font-family: "ProximaNovaCond-Bold", sans-serif;
	cursor: pointer;
	text-transform: uppercase;
	height: 50px;
	border: none;
	border-radius: 5px;
	background-color: #f4e322;
	outline: none;
	color: #000;
	padding: 0 20px;
	transition: all .27s;
}

.header-form button:hover{
	opacity: .9;
}

button[disabled] {
	-webkit-filter: grayscale(90%);
	-o-filter: grayscale(90%);
	filter: grayscale(90%);
	cursor: default;
}

.modal-form .agree {
	width: 20px;
	height: 20px;
	position: relative;
	top: 5px;
	margin-left: 30px;
}

#inp-agree {
	width: 20px;
	height: 20px;
	position: relative;
	top: 5px;
	margin-left: 30px;
	cursor: pointer;
}

p.p-agree {
	display: block;
	margin: 70px auto 0;
	/*text-align: center;*/
	color: #fff;
}

p.agr-form {
	display: block;
	float: left;
}

.form-inner-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.g-recaptcha {
	margin: 50px 20px 0 0;
	/*float: left;*/
}


.bgblue{
	margin-top: -400px;
	width: 100%;
	height: 780px;

	background: -moz-linear-gradient(65deg, rgba(153,231,234,0.7) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(153,231,234,0.7)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(65deg, rgba(153,231,234,0.7) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(65deg, rgba(153,231,234,0.7) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(65deg, rgba(153,231,234,0.7) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
	background: linear-gradient(25deg, rgba(153,231,234,0.7) 0%, rgba(255,255,255,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#99e7ea',GradientType=0 ); /* ie6-9 */
}



footer {
	padding: 0px 0 40px;
	background: #f0f0f0;
	text-align: left;
	position: relative;
	margin-top: -10px;
}

.foot-bot {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.foot-adress {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.ul-foot {
	padding-top: 22px;
	font-size: 20px;
	list-style-type: none;
}

.ul-foot li{
	margin-bottom: 20px;
}

.ul-foot li a {
	color: #000;
}

.foot-img {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.foot-img img {
	/*display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;*/
}

.foot-img a {
	text-decoration: underline;
	color: #220e58;
	font-size: 15px;
	/*display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;*/
}

.foot-ball {
	text-align: center;
	position: relative;
	/*top: */
	z-index: 120;
}

.a-ball {
	text-transform: uppercase;
	color: #0af484;
	font-size: 15px;
	font-family: 'AABebasNeue';
	width: 50px;
}
i.ic-ball {
	display: block;
	background: url(img/balloon.png);
	width: 48px;
	height: 102px;
	position: relative;
	/*top: -70px;*/
	left: calc(50% - 25px);
	margin: -70px 0 30px;
}