.ion {
  position: relative;
  left: -13px;
  font-size: 20px; }

.ion-ios-telephone {
  font-size: 20px;
  margin-right: 15px; }

.ion-location {
  font-size: 20px; }

.ion-gym {
  margin-right: 5px; }

.ion-foot {
  margin-right: 15px; }

.ic-foot-soc {
  border: 0px;
  padding: 10px;
  border-radius: 50%; }

.ic-foot-soc:hover {
  background: #fff;
  color: #FF0000; }

.icon-vk {
  padding-right: 13px; }

.grow-1 {
  display: flex;
  flex-grow: 1; }

.section {
  padding: 50px 0; }

.wrapper {
  overflow: hidden; }

h1,
h2,
h3 {
  font-family: 'PTSans-Narrow'; }

p,
h4,
a {
  font-family: 'PTSans-Regular'; }

h2 {
  font-size: 35px; }
  h2:after {
    position: relative;
    display: block;
    content: " ";
    width: 100px;
    height: 3px;
    background: #FF0000;
    margin: 10px auto 0; }

.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 40px;
  width: 40px; }

.hidden {
  display: none; }

header {
  background: #202020;
  color: #fff;
  padding: 0px 0; }

.navbar a {
  display: flex;
  /*flex-grow: 1*/
  color: #fff; }

.navbar-brand {
  display: block; }

.logo {
  display: block;
  height: 100px;
  width: 100px; }

.tel {
  display: flex;
  flex-direction: row;
  margin-left: 35px; }
  .tel a {
    font-size: 20px;
    text-decoration: none; }

.navbar-nav a {
  color: #ccc;
  padding: 15px 20px !important; }

.navbar-nav a:hover {
  color: #fff !important;
  background: #FF0000; }

.nav-link_active {
  color: #fff !important;
  /*background: #c40017*/ }

.navbar-collapse {
  flex-grow: -0px;
  justify-content: flex-end; }

.navbar-brand {
  font-family: "Raleway";
  font-weight: bolder;
  font-size: 24px;
  padding: 0;
  margin: 0; }

.ion-drag {
  color: #fff;
  /*font-size: 30px*/ }

.navbar-toggler {
  border: 1px solid #fff !important;
  cursor: pointer; }

.navbar-toggler:focus {
  outline: none; }

.section.slider {
  padding: 0; }

.h3-about:after {
  position: relative;
  display: block;
  content: " ";
  width: 50px;
  height: 5px;
  background: #A67046;
  margin: 5px 0 40px; }

.p-about_desc {
  margin: 30px 0 50px;
  text-align: center; }

.about img {
  transition: 0.4s ease; }
  .about img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

.gym-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column; }

.passed {
  background: #FF0000;
  color: #fff;
  padding: 10px 20px;
  margin: 10px auto; }
  .passed:hover {
    color: #fff;
    text-decoration: none; }

.team {
  background: #202020;
  color: #fff;
  padding: 50px 0; }

.team h2 {
  color: #fff; }

.h2-section {
  margin: 0 auto;
  text-align: center; }

.img-trener {
  width: 300px;
  height: 500px; }

.vis-480 {
  display: none; }

#btn-info {
  display: none; }

.price {
  padding: 50px 0; }

.price .container .row {
  background: #fff;
  outline: 1px solid #ccc; }

.h2-price {
  margin-top: 30px; }

.choice {
  margin: 35px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center; }
  .choice p {
    font-size: 25px;
    cursor: pointer; }

.h4-price {
  font-size: 25px;
  font-weight: bold; }

.p-price_desc,
.p-price_desc span {
  transition: .3s ease; }

.p-price_desc {
  font-size: 20px;
  margin-bottom: 60px; }
  .p-price_desc span {
    color: #E25050;
    font-weight: bold;
    font-size: 25px; }

.price-span {
  position: relative;
  top: 0px;
  display: block;
  margin: 0 10px;
  font-size: 25px;
  content: "/"; }

.choise_active {
  font-weight: bold;
  text-decoration: underline;
  color: #A67046;
  transition: .03s ease; }

footer {
  padding: 30px 0 50px;
  background: #202020;
  color: #fff; }
  footer a {
    color: #fff; }

.foot-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around; }

#btn-home {
  background: #A67046;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  position: relative;
  bottom: 50px;
  left: calc(50% - 50px); }

.foot-tel {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }
  .foot-tel a {
    text-decoration: none;
    color: #fff; }

.social {
  margin: 5px 0 0 15px; }

.soc {
  margin-right: 20px; }

.foot-adr {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

#btn-modal_open {
  background: #FF0000;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  position: relative;
  top: 20px;
  cursor: pointer; }

.img-gallery {
  margin: 50px 0 0 0; }

.h1-gyms {
  font-size: 45px;
  text-align: center; }
  .h1-gyms:after {
    position: relative;
    display: block;
    content: " ";
    width: 100px;
    height: 3px;
    background: #FF0000;
    margin: 10px auto 0; }

.gyms-price .container .row {
  background: #fff;
  outline: 1px solid #ccc; }

.about-description {
  margin: 40px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column; }

.minput-wrapper {
  position: relative;
  margin: 0 auto 45px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 150px; }

.contact-sec3-right .minput-wrapper {
  position: relative; }

.minput label {
  display: inline-block;
  left: 0;
  top: 0;
  padding: 10px 20px 0px 0px;
  position: absolute;
  opacity: 1;
  color: #b9b9b9;
  font-size: 10px;
  pointer-events: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.minput input {
  width: 100%;
  padding: 28px 0px 0px;
  border: 1px solid transparent;
  border-bottom: 1px solid #9d9d9d;
  color: #000;
  font-size: 15px; }

.minput input:invalid + label {
  color: #000;
  font-size: 15px;
  padding: 30px 20px 0px 0px;
  font-weight: 500; }

.minput input:focus {
  background-color: #fff;
  outline: none;
  box-shadow: none; }

.minput input:focus + label {
  padding: 10px 20px 20px 0px;
  color: #b9b9b9;
  font-size: 10px; }

.btn-form-send {
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border-radius: 0px;
  font-size: 20px;
  padding: 10px 20px; }
  .btn-form-send .modal-title {
    text-decoration: underline !important; }

@media (max-width: 768px) {
  .section {
    padding: 30px 0; }
  .tel a {
    font-size: 16px;
    position: relative;
    top: 3px; }
  .ion-ios-telephone {
    font-size: 16px;
    position: relative;
    top: px; }
  .img-trener {
    width: 225px;
    height: 375px; }
  .choice p {
    font-size: 18px; }
  .price-span {
    font-size: 20px;
    top: -3px; }
  footer {
    padding: 30px 20px 50px; }
  .foot-wrap {
    flex-direction: column;
    align-items: center; }
  .foot-tel {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .social {
    margin: 20px 0; }
  .foot-adr {
    text-align: center; } }

@media (max-width: 480px) {
  h2 {
    font-size: 22px; }
  h3 {
    font-size: 20px; }
  p,
  .p-gym_desc {
    font-size: 16px; }
  .tel {
    margin-left: 25px; }
    .tel a {
      font-size: 14px;
      position: relative;
      top: 6px; }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    height: 20px;
    width: 20px; }
  .img-trener {
    width: 150px;
    height: 250px; }
  #btn-info {
    display: block; }
  .vis-480 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
  .team .row {
    justify-content: center; }
  .hide-480 {
    margin-top: 20px;
    display: none; }
  .choice p {
    font-size: 15px; }
  .price-span {
    font-size: 17px;
    top: -3px; } }

@media (max-width: 360px) {
  .tel {
    display: none; }
  .img-trener {
    width: 113px;
    height: 187px; } }
